/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2018, 10:41:03 AM
    Author     : KiaraVaz
*/

/*styling of the calculator page*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mathPic
{
    width: 20%;
    height:10%;
   float: right; 
}
div {
    font-size: 25px;
    background-color: lightcyan;
    color: black;
    margin: 40px;
    padding: 20px;
}
body{
    background-color: lightskyblue;
}

#quadraticHeader{
    font-family: "Courier New", Times, serif;       
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

input {
  font-size: 25px;  
  width: 15%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#calculateButton{
 font-size: 25px;  
 
}



